@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 140px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.header-section img {
    width: 100%;
}

.header-content {
    margin: 50px auto;
    text-align: center;
}

.header-content h1 {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}

.paragraph {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 26px;
}

button {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    color: white;
    font-weight: normal;
    margin-top: 20px;
    cursor: pointer;
}

main {
    margin: 50px 140px;
}

/* first feature section  */

.first-feature-container {
    display: flex;
    align-items: center;

}

.feature-content {
    margin-left: 50px;
}

.feature-content h1 {
    text-transform: capitalize;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.quick-text {
    color: #727272;
    font-weight: 500;
}

.feature-text {
    color: #FF900E;
    font-weight: 700;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-img img {
    width: 300px;
    height: 300px;
}

/* some fact section  */

.some-fact-content h1,
.sponsor-content h1 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px 0px;
}

.fact-img-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 80px 0px;
}

.fact-img-container div {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px;
}

/* sponsore section */
.sponsor-content {
    text-align: center;
    margin-bottom: 20px;
}

/* .sponsor-img img {
    display: block;
} */

.sponsors-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sponsors-img img {
    filter: grayscale(100%);
}

/* media queries for small device */

@media screen and (max-width:640px) {

    main {
        margin: 50px 20px;
    }

    nav,
    .first-feature-container,
    .fact-img-container,
    .sponsors-img {
        flex-direction: column;
    }

    nav ul li,
    .feature-content h1 {
        margin: 20px;
    }

    header {
        padding: 50px 10px;
    }

    .header-section img {
        width: 100%;
    }

    .feature-img {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    .feature-content {
        margin-left: 0px;
    }

    .fact-img-container div,
    .sponsors-img img {
        margin-bottom: 30px;
    }

}

/* madia queries for medium device */
@media screen and (min-width:640px) and (max-width:1024px) {

    nav,
    .first-feature-container,
    .sponsors-img {
        flex-direction: column;
    }

    nav ul li {
        margin: 20px;
    }

    .feature-img .fact-img-container div,
    .sponsors-img img {
        margin-bottom: 20px;
    }
}